@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Troonch.User.Domain
@using Troonch.User.Domain.Entities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="nav-profile-img">
                <img src="~/assets/images/faces/face1.jpg" alt="image">
                <span class="availability-status online"></span>
            </div>
            <div class="nav-profile-text">
                @if (User.Claims.Any(claim => claim.Type.Equals(ClaimTypes.GivenName) && claim.Type.Equals(ClaimTypes.Surname)))
                {
                    <span class="mb-1 text-black">@User.Claims.Where(claim => claim.Type.Equals(ClaimTypes.GivenName)).First().Value</span>
                    <span class="mb-1 text-black">@User.Claims.Where(claim => claim.Type.Equals(ClaimTypes.Surname)).First().Value</span>
                }
                else{
                    <span class="mb-1 text-black">@User.Claims.Where(claim => claim.Type.Equals(ClaimTypes.Name)).First().Value</span>
                }
            </div>
        </a>
        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="#">
                <i class="mdi mdi mdi-account-box me-2 text-success"></i> Modifica Profilo
            </a>
            <div class="dropdown-divider"></div>
            @using (Html.BeginForm("Logout", "Auth", FormMethod.Get, new { @id = "logout-form", @class = "dropdown-item" }))
            {
                <a id="logout-command"   onclick="document.getElementById('logout-form').submit();"><i class="mdi mdi-logout me-2 text-primary"></i> Disconnettiti</a>
            }
        </div>
    </li>
}


