@{
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="search-field d-none d-md-block ">
    @using (Html.BeginForm("Index", controllerName, FormMethod.Get, new { @onsubmit="keepTextSearched(event)",@id = "search-form", @class = "d-flex align-items-center h-100" }))
    {
        <div class="input-group">
            <button type="submit" class="input-group-prepend text-white bg-gradient-primary">
                <i class="mdi mdi-magnify"></i>
            </button>
            <input type="text" id="search-term" name="searchTerm" class="form-control border-0" placeholder="Cerca...">
        </div>
    }
</div>

<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', () => {
        const searchTermStored = localStorage.getItem('searchTerm');
        if (searchTermStored == undefined || searchTermStored == null) {
            return;
        }

        document.getElementById('search-term').value = searchTermStored;
        
        localStorage.removeItem('searchTerm');
    })

    const keepTextSearched = (e) =>{
        e.preventDefault();

        const searchTerm = document.getElementById('search-term').value.trim();
        
        if (!searchTerm) {
            return e.target.submit();
        }
        
        document.getElementById('search-term').value = searchTerm;


        let searchTermStored = localStorage.getItem('searchTerm');
        if (searchTermStored != undefined && searchTerm != null) {
            localStorage.removeItem('searchTerm');
        }
        

        localStorage.setItem('searchTerm', searchTerm);

        e.target.submit();
    }
</script>
