<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/assets/images/faces/face1.jpg" alt="profile" />
                    <span class="login-status online"></span>
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">@User.Identity.Name</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#product-menu-item" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Prodotti</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse" id="product-menu-item">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">Lista</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Brands" asp-action="Index">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/buttons.html">Categoria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/buttons.html">Tag</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#users-menu-item" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Utenti</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse" id="users-menu-item">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/buttons.html">Gestisci</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Register">Aggiungi Nuovo</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>