@using Troonch.User.Domain.DTOs.Requests;
@model UserRequestDTO;

<div class="page-header">
    <h3 class="page-title">Modifica Utente</h3>
</div>


@Html.Partial("_UserForm",Model)


@Html.Partial("_Notification")


            

