@using Troonch.DataAccess.Base.Helpers;
@using Troonch.RetailSales.Product.Domain.DTOs.Responses;
@{
    ViewData["Title"] = "Test Page";
}
@model PagedList<ProductResponseDTO>;

<section class="container">
    <div class="row">
        @foreach(var product in Model.Collections)
        {
            <div class="col">
                <div class="card border shadow-none mb-0">
                    <div class="card-body text-center">
                        <img src="assets/images/products/01.png" class="img-fluid mb-3" alt="">
                        <h6 class="product-title">Men White Polo T-shirt</h6>
                        <p class="product-price fs-5 mb-1"><span>$250.99</span></p>
                        <div class="rating mb-0">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>
                        <small>74 Reviews</small>
                        <div class="actions d-flex align-items-center justify-content-center gap-2 mt-3">
                            @* <a href="javascript:;" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil-fill"></i> Edit</a>
                            <a href="javascript:;" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash-fill"></i> Delete</a> *@
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>